#header{
  background-color:black;
	color:white;
	font-size: 200%;
  width: auto;
	height:60px;
	padding-top:20px;
	padding-left:20px;
}

a:visited{
  color: white;
}

body {
  margin: 0;
  padding: 0;
}
